{% extends "lumenapp/layout.html" %}

{% block body %}
<section class="page-view pt-5" id="login-page">
    <div class="container top pt-5">
 
        <h2 class="login-text my-5 py-5">Login</h2>

        {% if msg %} 
        <section id="proj_upload" class="d-flex  flex-column align-items-center mt-5 pt-5 alert alert-danger">
          <h1>{{ msg.title }}</h1>
          <p class="contact-label">{{ msg.body }}</p>
        </section>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username or Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn login-btn" type="submit" value="Login">
        </form>

        <span class="auth-alt">Don't have an account? <a class="register-acro" href="{% url 'register' %}">Register here.</a></span>
    </div>  
</section>
{% endblock %}