{% extends "lumenapp/layout.html" %}

{% load static %}

{% block body %}


<!-- Lumen Projects Section -->
<section id="projects" class="project-container d-flex bg-body-tertiary m-auto p-5 my-5">
  <nav class="nav flex-column d-inline-flex mt-4">

    <!-- User profile  -->
     {% if user_id %}
     <a class="nav-link fs-1 mt-5 p-3" href="{% url 'profile' user_id=user.id %}"><strong>{{ user }}</strong></a>
     {% else %}
     <a class="nav-link fs-1 mt-5 p-3" href=""><strong>{{ user }}</strong></a>
     {% endif %}  
     
     <!-- User Management dropdown -->
     {% if user_id %}
     <li class="nav-item dropright">
       <a class="nav-link dropdown-toggle icon mt-2" href="{% url 'user_acct' user_id=user.id %}" role="button">
         <i class="fa-solid fa-user-gear"></i> Account Management
        </a>
      </li>
      {% endif %}  
  
    <!-- User Management dropdown -->
    {% if request.user.is_superuser %}
    <li class="nav-item dropright">
      <a class="nav-link dropdown-toggle icon mt-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-users-gear"></i> Users Management
      </a>
      <div class="dropdown-menu">
        <a class="nav-link dropdown-toggle icon mt-3" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i> Users
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item category-link" data-category="client" href="#">Clients</a>
          <a class="dropdown-item category-link" data-category="staff" href="#">Staff</a>
          <a class="dropdown-item category-link" data-category="vendor" href="#">Vendors</a>
          <a class="dropdown-item category-link" data-category="agent" href="#">Agents</a>
          <a class="dropdown-item category-link" data-category="contractor" href="#">Contractors</a>
          <a class="dropdown-item category-link" data-category="subcontractor" href="#">Sub Contractors</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" href="{% url 'create_user' %}">New User</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" aria-current="page" href="{% url 'new_category' %}">New Category</a>
        {% endif %}
      </div>
    </li>

    <!-- Estate Management dropdown -->
    <li class="nav-item dropright">
      <a class="nav-link dropdown-toggle icon mt-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-wrench"></i> Estate Management
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item icon" href="{% url 'project' %}"><i class="fa-solid fa-house-signal"></i> Estates</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" href="{% url 'bank' %}"><i class="fa-solid fa-building-columns"></i> Company Accounts</a>
        {% if request.user.is_superuser %}
        <div class="dropdown-divider"></div>
        <a class="nav-link icon" aria-current="page" href="{% url 'create_project' %}">New Project</a>
        {% endif %}
      </div>
    </li>
  </nav>
  
  <section class="d-flex flex-column">
    <div class="mt-4 proj-list-item project-container">
        <div class="card rounded-2 shadow-sm shadow-hover text-center bg-body-secondary">
            <div class="px-3">
                <h4 class="my-3 fw-600 fs-1 proj">{{ project.title }}</h4>
                <p class="card-title pricing-card-title text-secondary fs-3"><i class="fa-solid fa-location-dot"></i> {{ project.location }}</p>
            </div>
            <a href="{% url 'project_detail' id=project.id %}">
                <div>
                    <img src="{{ project.display_img.url }}" alt="{{ project.title }}" class="site-img">
                </div>
            </a>
            <div class="card-body d-flex justify-content-around">
                <span class="fw-bold proj fs-3">{{ project.tot_num_of_bedrooms }}<small class="fw-900"> Bedrooms</small></span>
                <span class="fw-bold proj fs-3">{{ project.tot_num_of_bathrooms }}<small class="fw-900"> Bathrooms</small></span>
                <span class="fw-bold proj fs-3">{{ project.size|floatformat:"2g" }}<small class="fw-900"> sqms</small></span>
            </div>
        </div>
    </div>

    <h2 class="mt-5 pt-5 fw-bold text-center text-uppercase">Prototypes in the Estate</h2>

    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-3 pt-5">
    {% for prototype in prototypes %}
        <a href="{% url 'prototype_item' id=prototype.id %}" class="text-decoration-none">
            <div class="col mt-4">
                <div class="card rounded-5 shadow shadow-hover bg-body-secondary">
                    <div class="prot-img">
                        <img src="{{ prototype.prototype_img.url }}" alt="Site" class="{{ prototype.prototype_title}}">
                    </div>
                    <div class="px-3">
                        <h4 class="my-3 fw-600 icon">{{ prototype.prototype_name }}</h4>
                        <p class="card-title pricing-card-title text-secondary">{{ prototype.prototype_description }}</p>
                    </div>
                    <div class="px-3">
                        <p class="my-3 fw-bold icon text-danger">Price: {{ prototype.prototype_price|floatformat:"2g" }}</p>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <span class="fw-bold proj">{{ prototype.num_of_bedrooms }}<small class="fw-600"> Bedrooms</small></span>
                        <span class="fw-bold proj">{{ prototype.num_of_bathrooms }}<small class="fw-600"> Bathrooms</small></span>
                        <span class="fw-bold proj">{{ prototype.num_of_kitchen }}<small class="fw-600"> Kitchen(s)</small></span>
                        <span class="fw-bold proj">{{ prototype.num_of_parking_space }}<small class="fw-600"> Parks</small></span>
                        <span class="fw-bold proj">VAT: {{ prototype.VAT_fee|floatformat:"2g" }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-between">
                        <span class="fw-bold proj">Legal: {{ prototype.legal_fee|floatformat:"2g" }}</span>
                        <span class="fw-bold proj">Sewage: {{ prototype.sewage_fee|floatformat:"2g" }}</span>
                        <span class="fw-bold proj">Water: {{ prototype.water_fee|floatformat:"2g" }}</span>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
  </section>
</section>
<!-- End of Projects Section -->
{% endblock %}