<!-- create_prototype.html file -->
{% extends "lumenapp/layout.html" %}

{% load static %}

{% block body %}
<section id="projects" class="project-container d-flex bg-body-tertiary m-auto p-5 my-5">
  <nav class="nav flex-column got-nav d-inline-flex mt-4">

    <!-- User profile  -->
     {% if users %}
      <a class="nav-link fs-1 mt-5 p-3" href="{% url 'profile' user_id=user.id %}"><strong>{{ user }}</strong></a>
     {% else %}
     <a class="nav-link fs-1 mt-5 p-3" href=""><strong>{{ user }}</strong></a>
     {% endif %}  
  
    <!-- User Management dropdown -->
    <li class="nav-item dropright">
      <a class="nav-link dropdown-toggle icon mt-2" href="{% url 'user_acct' user_id=user.id %}" role="button">
        <i class="fa-solid fa-user-gear"></i> Account Management
      </a>
    </li>
  
    <!-- User Management dropdown -->
    <li class="nav-item dropright">
      <a class="nav-link dropdown-toggle icon mt-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-users-gear"></i> Users Management
      </a>
      <div class="dropdown-menu">
        <!-- Users sub-dropdown -->
        <a href="" class="dropdown-item dropright">
          <a class="nav-link dropdown-toggle icon" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i> Users
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item category-link icon" data-category="client" href="{% url 'dashboard' %}">Clients</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item category-link icon" data-category="staff" href="{% url 'dashboard' %}">Staff</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item category-link icon" data-category="vendor" href="{% url 'dashboard' %}">Vendors</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item category-link icon" data-category="agent" href="{% url 'dashboard' %}">Agents</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item category-link icon" data-category="contractor" href="{% url 'dashboard' %}">Contractors</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item category-link icon" data-category="subcontractor" href="{% url 'dashboard' %}">Subcontractors</a>
          </div>
        </a>
        {% if request.user.is_superuser %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" href="{% url 'create_user' %}">New User</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" aria-current="page" href="{% url 'new_category' %}">New Category</a>
        {% endif %}
      </div>
    </li>

    <!-- Estate Management dropdown -->
    <li class="nav-item dropright">
      <a class="nav-link dropdown-toggle icon mt-2" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-wrench"></i> Estate Management
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item icon" href="{% url 'project' %}"><i class="fa-solid fa-house-signal"></i> Estates</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item icon" href="{% url 'bank' %}"><i class="fa-solid fa-building-columns"></i> Company Accounts</a>
        {% if request.user.is_superuser %}
        <div class="dropdown-divider"></div>
        <a class="nav-link icon" aria-current="page" href="{% url 'create_project' %}">New Project</a>
        {% endif %}
      </div>
    </li>
  </nav>

  <!-- Main Content Section -->
  <section id="lumen-deo" class="container-fluid effect-section pt-5 mt-5">

    <!-- Lumen Subscription Section -->
    <section id="proj_upload" class="bg-body-tertiary m-auto p-5 mb-5">

      <section id="proj_upload" class="container m-auto px-5">
        <div class="mt-2"><h2 class="login-text py-5">Subscribe for a unit</h2></div>
          
        {% if msg %} 
        <section id="proj_upload" class="d-flex  flex-column align-items-center mt-5 pt-5 alert alert-danger">
          <h1>{{ msg.title }}</h1>
          <p class="contact-label">{{ msg.body }}</p>
        </section>
        {% endif %}
        
        <form action="{% url 'subscribe' proj_id=active_project.id %}" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-fade btn-border-none">Subscribe</button>
        </form>
      </section>
    </section>
    <!-- End of Subscription Section -->
    {% if subscribes %}
    <table class="table-striped mb-5">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Prototype</th>
          <th>House Number</th>
          <th>Price(s) (<i class="fa-solid fa-naira-sign"></i>)</th>
          <th>Unit 3D</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for subscribe in subscribes %}
          <tr>
            <td> {{ subscribe.id }} </td>
            <td> {{ subscribe.house.prototype.prototype_name }} </td>
            <td> {{ subscribe.house.house_num }} </td>
            <td> {{ subscribe.house.subscri_price|floatformat:"2g" }} </td>
            <td class="proto-imgs"><img src="{{ subscribe.house.prototype.prototype_img.url }}" alt="{{ subscribe.house.prototype.prototype_title}}" class="proto-img"></td>
            <td class="text-right"><form action="{% url 'unsubscribe' subscription_id=subscribe.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-link btn-danger text-white text-decoration-none"><i class="fa-solid fa-trash"></i> Unsubscribe</button>
            </form> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </section>
</section>
<!-- End of Main Content Section -->


{% endblock %}